@tailwind base;
@tailwind components;
@tailwind utilities;

#fbjs {
  font-size: 16px;
}

/* Chrome, Edge, and Safari */
#fbjs *::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}

#fbjs *::-webkit-scrollbar-track {
  background: transparent;
}

#fbjs *::-webkit-scrollbar-thumb {
  background-color: var(--brand-default);
  border: none;
  border-radius: 10px;
}

/* Firefox */
#fbjs * {
  scrollbar-width: thin;
  scrollbar-color: var(--brand-default) transparent;
}


:root {
  --brand-default: #64748b;
  --slate-50: rgb(248, 250, 252);
  --slate-100: rgb(241 245 249);
  --slate-200: rgb(226 232 240);
  --slate-300: rgb(203, 213, 225);
  --slate-400: rgb(148 163 184);
  --slate-500: rgb(100 116 139);
  --slate-600: rgb(71 85 105);
  --slate-700: rgb(51 65 85);
  --slate-800: rgb(30 41 59);
  --slate-900: rgb(15 23 42);
  --gray-100: rgb(243 244 246);
  --gray-200: rgb(229 231 235);
  --yellow-100: rgb(254 249 195);
  --yellow-300: rgb(253 224 71);
  --yellow-500: rgb(234 179 8);

  /* Brand Colors */
  --formbricks-brand: #64748b;

  /* background color */
  --form-background-color: white;

  /* Fill Colors */
  --formbricks-fill-primary: #fefefe;
  --formbricks-fill-secondary: #0f172a;
  --formbricks-fill-disabled: #e0e0e0;

  /* Label Colors */
  --formbricks-label-primary: #0f172a;
  --formbricks-label-secondary: #384258;
  --formbricks-label-disabled: #bdbdbd;

  /* Border Colors */
  --formbricks-border-primary: #e0e0e0;
  --formbricks-border-secondary: #0f172a;
  --formbricks-border-disabled: #ececec;

  /* Functional Colors */
  --formbricks-focus: #1982fc;
  --formbricks-error: #d13a3a;

  --form-subheading-color: var(--slate-700);
  --form-shadow-color: rgba(0, 0, 0, 0.4);

}

.dark {
  /* Brand Colors */
  --formbricks-brand: #038178;

  /* Fill Colors */
  --formbricks-fill-primary: #0f172a;
  --formbricks-fill-secondary: #e0e0e0;
  --formbricks-fill-disabled: #394258;

  /* Label Colors */
  --formbricks-label-primary: #fefefe;
  --formbricks-label-secondary: #f2f2f2;
  --formbricks-label-disabled: #bdbdbd;

  /* Border Colors */
  --formbricks-border-primary: #394258;
  --formbricks-border-secondary: #e0e0e0;
  --formbricks-border-disabled: #394258;

  /* Functional Colors */
  --formbricks-focus: #1982fc;
  --formbricks-error: #d13a3a;

  --form-border-radius: 8px;
}

@layer base {
  [data-nextjs-scroll-focus-boundary] {
    display: contents;
  }
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #e2e8f0;
}

*::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border: 3px solid #cbd5e1;
}

.filter-scrollbar::-webkit-scrollbar {
  height: 10px;
}

.filter-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 8px;
}

.filter-scrollbar::-webkit-scrollbar-track {
  border-radius: 8px;
}

input:focus {
  --tw-ring-color: none;
  --tw-ring-offset-color: none;
  --tw-ring-shadow: 0 0 #000 !important;
  box-shadow: none;
}

@layer utilities {
  @layer responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

/* Hide the clear button for input type "search" */
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

input[type="search"]::-ms-clear {
  display: none;
}

input[type="search"]::-ms-reveal {
  display: none;
}

.formFilterDropdown[data-state="open"] {
  background-color: #0f172a;
  color: white;
}
.formFilterDropdown:hover * {
  background-color: #0f172a;
  color: white;
}

input[type="range"]::-webkit-slider-thumb {
  background: #0f172a;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  -webkit-appearance: none;
}

.scroll-hidden {
  overflow: hidden;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.scroll-hidden::-webkit-scrollbar-thumb {
  display: none;
}

.scroll-hidden::-webkit-scrollbar-track {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none !important;
  scrollbar-width: thin !important; /* Firefox */
  scrollbar-color: transparent transparent !important; /* Firefox */

  /* Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: 0 !important;
    background: transparent !important;
  }
  &::-webkit-scrollbar-thumb {
    background: transparent !important;
  }
}

.form-shadow {
  box-shadow: 0 0 90px -40 rgba(0, 0, 0, 0.4);
}


.no-scrollbar {
  -ms-overflow-style: none !important; /* Internet Explorer 10+ */
  scrollbar-width: thin !important; /* Firefox */
  scrollbar-color: transparent transparent !important; /* Firefox */

  /* Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: 0 !important;
    background: transparent !important;
  }
  &::-webkit-scrollbar-thumb {
    background: transparent !important;
  }
}


/* editor style */
.fb-editor-text-bold {
  font-weight: bold !important;
}

.fb-editor-text-italic {
  font-style: italic !important;
}

.fb-editor-link {
  text-decoration: underline !important;
}

.editor-tokenFunction {
  color: #dd4a68 !important;
}

.fb-editor-paragraph {
  margin: 0 !important;
  position: relative !important;
}

.fb-editor-paragraph:last-child {
  margin-bottom: 0 !important;
}

.fb-editor-heading-h1 {
  font-size: 25px !important;
  font-weight: 400 !important;
  margin-bottom: 20px !important;
  font-weight: bold !important;
}

.fb-editor-heading-h2 {
  font-size: 20px !important;
  font-weight: bold !important;
  margin-bottom: 20px !important;
}

.fb-editor-list-ul {
  margin-bottom: 12px !important;
}

.fb-editor-list-ol {
  margin-bottom: 12px !important;
}

.fb-editor-listitem {
  margin: 0px 32px !important;
}

.fb-editor-nested-listitem {
  list-style-type: none !important;
}

.fb-editor-rtl {
  text-align: right !important;
}

.fb-editor-ltr {
  text-align: left !important;
}

/* this is for styling the HtmlBody component */
.form-htmlbody {
  @apply block text-sm font-normal leading-6;
  /* need to use !important because in packages/ui/components/editor/stylesEditorFrontend.css the color is defined for some classes */
  color: var(--fb-subheading-color) !important;
}

.form-shadow {
  box-shadow: 0px 0px 90px -40px var(--form-shadow-color);
}